header img {
  width: 85px;
  height: 60px;
  margin: 15px 0px 0px 5%;
  float: left;
}

header div:nth-child(2) {
  width: 167px;
  height: 46px;
  margin: 26px 0px 0px 19px;
  float: left;
}

header div:nth-child(2) p:first-child {
  font-size: 24px;
  font-style: normal;
  letter-spacing: 0.08em;
  font-weight: 700;
  color: #393939;
  line-height: 25px;
}

header nav {
  padding: 37px 0px 0px 42%;
}

header nav ul li:nth-child(5)::after {
  content: url("/img/Frame 76.png");
  position: relative;
  left: 7px;
  bottom: 5px;
}

header nav ul li:nth-child(6) {
  margin-right: 0px;
}

header nav ul button {
  width: 193px;
  height: 37px;
  margin: -5px 0px 0px 28px;
  font-weight: 500;
  text-transform: none;
}
