@media (max-width: 768px) {
  header nav {
    display: none;
  }

  article {
    justify-content: space-between;
  }

  article p {
    padding: 0;
  }

  article p:nth-child(2) {
    line-height: 20px;
  }

  article button {
    width: 38%;
  }

  article img {
    margin-right: 2%;
  }

  main section article header p {
    padding-top: 3%;
    padding-left: 3%;
    font-size: 20px;
  }

  main section article p {
    padding-top: 3%;
    padding-left: 3%;
  }

  main section article header img {
    width: 14%;
    left: 68%;
    bottom: 10px;
  }

  main aside input {
    margin-left: 5px;
    height: 30px;
    width: 65%;
  }

  main aside input:nth-child(4) {
    position: static;
    width: 95%;
  }

  main aside input:nth-child(6) {
    margin-top: 0;
    width: 95%;
  }

  main aside p {
    float: none;
    margin: 0;
    text-align: center;
    font-size: 16px;
  }

  main aside button {
    margin-left: 5%;
    width: 90%;
  }

  footer img {
    margin: 90px 0px 0px 20px;
  }

  footer div:nth-child(3) ul li {
    margin-right: 3%;
  }
}
