@media (max-width: 321px) {
  main aside button {
    margin-right: 0;
    width: 32%;
  }

  footer img:last-child {
    height: 50px;
    width: 50px;
    bottom: 10px;
    right: 10%;
  }

  main section article header img {
    width: 22%;
    left: 52%;
    bottom: 4px;
  }
}
